body {
    background-image: url('Untitled (1).png');
    background-size: cover;
}   
.home p{
    color: rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 6vw;
    margin-top: 7vw;
    margin-left: 6vw;
}
.home #dark{
    font-family: "Poppins";
    font-size: 13.3337px;
    color: rgb(253, 252, 252);
    width: 10vw;
    margin-top: 1vw;
    margin-left: 2vw;
    background-color: black;

}
.home #button1,.home #button3 {
    font-family: "Poppins";
    color: rgb(253, 252, 252);
    background-color: black;
    width: 15vw;
    height: auto;
    margin-left: 17vw;
    margin-top: 5vw;
}
.home #button2,.home #button4 {
    font-family: "Poppins";
    color: rgb(253, 252, 252);
    width: 15vw;
    background-color: black;

    height: auto;
    margin-left: 2vw;
    margin-top: 5vw;
}
.home #b1{
    margin-left: 3.5vw;
}
.home #b2{
    margin-left: 1.7vw;
}
.home #b3{
    margin-left: 7vw;
}
.home #b4{
    margin-left: 9.5vw;
}

.up label,.up #upload {
    color: rgb(8, 8, 8);
}

.up form {
    border: 2px solid rgb(14, 14, 14);
    margin-top: 7vw;
    margin-bottom: 0vw;
    margin-right: 50vw;
    margin-left: 2vw;
    padding: 2%;
}

.up div {
    margin-top: 1%;
    margin-left: 2vw;
}

.up #UserMobileNo,.up #VehicleNumber {
    color: rgb(0, 0, 0);
    background-color: aliceblue;
}

#blackbut{
    background-color: black;
}
