body {
    background-image: url('Untitled (1).png');
    background-size: cover;
}
p{
    color: black;
    font-family: 'street_credregular';
    font-size: 70px;
    margin-top: 7vw;
    margin-left: 6vw;
}
#sign,#mode-toggle{
    font-family: "YAFdJl3zAt0 0", _fb_;
    font-size: 13.3337px;
    color: rgb(253, 252, 252);
    width: 10vw;
    margin-top: 1vw;
    margin-left: 2vw;
}
#button1,
#button3 {
    font-family: "YAFdJl3zAt0 0", _fb_;
    color: rgb(253, 252, 252);
    width: 15vw;
    height: auto;
    margin-left: 17vw;
    margin-top: 5vw;
}
#button2,
#button4 {
    font-family: "YAFdJl3zAt0 0", _fb_, auto;
    color: rgb(253, 252, 252);
    width: 15vw;
    height: auto;
    margin-left: 2vw;
    margin-top: 5vw;
}
.dark-mode {
    background-image: url('Untitled (2).png');
    color: white;
}
.dark-mode p{
        color: rgb(252, 247, 247);
        font-family: 'street_credregular';
        font-size: 70px;
        margin-top: 7vw;
        margin-left: 6vw;
    }
.dark-mode #sign,.dark-mode #mode-toggle{
    font-family: "YAFdJl3zAt0 0", _fb_;
    font-size: 13.3337px;
    color: rgb(255, 255, 255);
    width: 10vw;
    background-color: rgb(27, 120, 202);
    margin-top: 1vw;
    margin-left: 2vw;
    }
.dark-mode #button1, .dark-mode #button3 {
        font-family: "YAFdJl3zAt0 0", _fb_;
        color: rgb(255, 255, 255);
        width: 15vw;
        height: auto;
        margin-left: 17vw;
        background-color: rgb(27, 120, 202);
        margin-top: 5vw;
    }
.dark-mode #button2,.dark-mode #button4 {
        font-family: "YAFdJl3zAt0 0", _fb_, auto;
        color: rgb(255, 255, 255);
        width: 15vw;
        background-color: rgb(27, 120, 202);
        height: auto;
        margin-left: 2vw;
        margin-top: 5vw;
}
.dark-mode #button1:hover,.dark-mode #button2:hover,.dark-mode #button3:hover,.dark-mode #button4:hover{
    background-color: rgb(8, 63, 244) ;
}
span{
    font-family:"Poppins";
}